@model App.Models.PlanetModel

<h1>@Model.Name</h1>

<div class="card w-50">
    <img src="~/Planet/@(Model.Name).jpg" alt="">
    <div class="card-body">
        <h5>@Model.VnName</h5>
        <div class="card-text">
            @Model.Content
        </div>

        <a class="card-link" asp-action="Index">Planet list</a>
    </div>
</div>