@model App.Models.ProductModel
@{
    var product = ViewData["product"] as ProductModel;
}

<div class="card bg-primary text-white">
    <h1 class="card-header">@product.Name</h1>
    <div class="card-body">
        <p class="card-text">
            Price: @product.Price
        </p>
    </div>
</div>
<hr>